@import url("../../styles/global.css");

.navbar {
  width: 100%;
  background: transparent;
  transition: background 0.3s ease;
  position: fixed;
}

.navbar--scrolled {
}

.navbar__container {
  max-width: 94vw;
  margin: 0 auto;
  padding: 1rem 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__title {
  font-size: var(--fs-xl);
  line-height: 1.3;
  font-weight: 700;
}

.navbar__title span {
  color: var(--blue-light);
}

.navbar__nav {
  width: 35%;
  max-width: 600px;
}

.navbar__list {
  display: flex;
  justify-content: space-between;
}

.navbar__item {
}

.navbar__link {
  font-size: var(--fs-base);
  font-weight: 500;

  padding: 0.25rem 0;
  transition: color 0.3s ease;
}

.navbar__link:hover {
  color: var(--blue-light);
}

/* navbar toggle */
.navbar__toggle {
  background: none;
  border: none;
  cursor: pointer;

  display: none; /* aparece só no mobile */
}

.mobileMenu {
  display: none;
}

@media (max-width: 1024px) {
  /* Esconde o menu do DESKTOP */
  .navbar__nav {
    display: none;
  }

  /* Exibe o botão do menu MOBILE */
  .navbar__toggle {
    display: block;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  /* Ajustes desktop para mobile */

  .navbar__container {
    padding: 1rem 0;
  }

  .navbar__title {
    font-size: var(--fs-md);
  }

  /* Estilização do menu MOBILE */
  .mobileMenu {
    position: fixed;
    inset: 0;
    background: rgba(15, 15, 20, 0.85);

    display: flex;
    align-items: end;
    justify-content: center;
    padding: 0 0 1.5rem 0;

    opacity: 0;
    pointer-events: none;

    transition: opacity 0.3s ease;
  }

  .mobileMenu--open {
    opacity: 1;
    pointer-events: auto;
  }

  .mobileMenu__content {
    height: 80vh;
    width: 90%;
    max-width: 360px;

    background: #0f0f1430;
    border: 1px solid #fafafa21;
    border-radius: 12px;
    padding: 2.5rem 2rem;

    transform: scale(0.95);
    transition: transform 0.3s ease;
  }

  .mobileMenu--open .mobileMenu__content {
    transform: scale(1);
  }

  .mobileMenu__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
  }

  .mobileMenu__item {
  }

  .mobileMenu__link {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    transition: color 0.3s ease;
  }

  .mobileMenu__link:hover {
    color: var(--blue-light);
  }
}
